.division__container__number2{
    width: 45%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .habits__container{
        width: 80%;
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        border: 1.5px solid grey;
        box-shadow:  2px 3px 5px rgb(160, 159, 159);

        &.active{
            background-color: #191919;
            box-shadow: none;
        }


        .ventana__nueva{
            width: 80%;
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border: 0.5px solid grey;
            border-radius: 5px;
            padding: 5px 5px;
            cursor: pointer;
        
            &.active{
                background-color: black;
                color: white;
            }
        }

        .ventana__nueva__texto{
            margin-left: 15px;
        }
    }
}

.habits__container__list{
    width: 99%;
    height: 95%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px 10px;
    gap: 5px;
}

//Habitos agregados desde JavaScript
.nuevo__habitoAgregado{
    width: 100%;
    max-width: 150px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 10px;
    list-style: none;
    border-radius: 15px;
    border: 1px solid black;

    &.active{
        border: 1px solid white;
        color: white;
    }

    .nuevo__recuadro__Arriba{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 10px 5px 8px;
        
        .buttonCompletar{
            width: 38px;
            height: 38px;
            border-radius: 50%;
            border: 1px solid black;
            cursor: pointer;
        
            &.active{
                background-color: #191919;
                border: 1px solid white;
                color: white;
            }
        }

        .recuadroArriba__Conjunto{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        
            .recuadroArriba__numero{
                font-size: 30px;
                font-weight: 600;
            }
           
            .habit__icon{
                font-size: 25px;
                padding-left: 5px;
                
            }
        }

    }

    .nuevo__recuadro__Medio{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 16px;
        
        .recuadroArriba__dias{
            font-size: 17px;
            font-weight: 400;
        }
    }

    .nuevo__recuadro__Abajo{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    
        .recuadroAbajo__texto{
            font-size: 20px;
            font-weight: 400;
            margin-left: 12px;
            text-transform: capitalize;
        }
    }

}

@media (max-width: 1033px){

    .division__container__number2{

        .habits__container{
            width: 90%;
        }

        .nuevo__habitoAgregado{
            width: 110px;
        }
    }
    
}

@media (max-width: 905px){

    .division__container__number2{
        width: 100%;
        height: 50%;
        gap: 0;
        display: grid;
        grid-template-columns: 50px 1fr 1fr 1fr 50px;
        grid-template-rows: 20px 1fr  1fr 20px;

        .habits__container{
            width: 100%;
            height: 100%;
            grid-column-start: 2;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 4;
        }
    }

    .habits__container__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 5px;
    }

    .nuevo__habitoAgregado{
        width: 330px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 14px;
    
        .nuevo__recuadro__Abajo{

            .recuadroAbajo__texto{
                font-size: 15px;
            }
        }
    }
}

@media(max-width: 590px){

    .nuevo__habitoAgregado{
        width: 140px;

        .nuevo__recuadro__Abajo{

            .recuadroAbajo__texto{
                font-size: 14px;
            }
        }
    }
}

@media( max-width: 535px){
    
    .nuevo__habitoAgregado{
        width: 130px;
        height: 100px;

        .nuevo__recuadro__Abajo{

            .recuadroAbajo__texto{
                font-size: 12px;
            }
        }
        

    }
}

@media (max-width: 470px){


    .nuevo__habitoAgregado{
        width: 105px;
    
        .nuevo__recuadro__Abajo{

            .recuadroAbajo__texto{
                font-size: 12px;
            }
        }
    }
}

@media(min-width: 390px) and (max-width: 450px){

    .division__container__number2{
        grid-template-columns: 13px 1fr 1fr 1fr 13px;
    }

}