.main__container{
    width: 100%;
    height: 83%;
    border: 3px solid black;

    .division__container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .division__container__number1{
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .golden__habit{
            width: 100px;
            height: 40px;
            margin-right: 510px;
            margin-bottom: 15px;
            border-radius: 5px;
            background-color: gold
        }
        .graphic__container{
            width: 90%;
            max-width: 650px;
            height: 350px;
            display: flex;
            align-items: flex-end;
            justify-content: space-evenly;
            border-radius: 5px;
            background-color: rgb(211, 209, 209);
        }
        .graphic__container__plus{
            width: 120px;
            height: 40px;
            margin-top: 15px;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: grey;

        }
    }

    .modal{
        width: 300px;
        height: 300px;
        position: absolute;
        right: 35%;
        display: none;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        border-radius: 15px;
        background-color: rgb(165, 165, 165);
        
        .close{
            cursor: pointer;
        }

        .modal__options{
            width: 100%;
            border: 2px solid black;
        }

        .modal__content{
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 2px solid black;
            padding: 10px 50px;
            
        }

        .guardar__habito{
            width: 120px;
            height: 30px;
            border: 2px solid black;
        }

       
    }

    .habitForm{
        width: 250px;
        height: 100%;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    
        .habitName{
            width: 100%;
            height: 25px;
            border-radius: 5px;
            border: none;
        }
    
    }

    
    .division__container__number2{
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
        .habits__container{
            width: 90%;
            height: 300px;
            border-radius: 5px;
            background-color: bisque;
        }
        .habits__info{
            width: 90%;
            height: 150px;
            border-radius: 5px;
            background-color: bisque;
        }

    }
    

}