.ventana__configuracion{
    width: 60%;
    height: 80%;
    background-color: #ffffff;
    position: absolute;
    border-radius: 20px;
    margin-top: 15px;
    border: 1px solid rgb(167, 167, 167);

    .ventana__configuracion__izquierda{
        width: 33%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        background-color: rgb(218, 218, 218);
    
        .opciones__configuracion{
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            margin-top: 10px;
            border: 2px solid black;
            border-radius: 16px;
        }

        .opciones__configuracion__apariencia,
        .opciones__configuracion__habitos, 
        .opciones__configuracion__contactar{
            width: 90%;
            height: 30px;
            border-radius: 8px;
            background-color: rgb(202, 202, 202);
        
            .opciones__configuracion__texto{
                font-size: 20px;
                font-weight: 400;
            }
        }

        
    }

    .ventana__configuracion__derecha{
        width: 100%;
        height: 100%;
        background-color: red;
        border: 1px solid black;
    }
}


