@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
.header__container {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1.5px solid grey;
  box-shadow: 2px 3px 5px rgb(160, 159, 159);
  transition: background-color 0.5s;
}
.header__container.active {
  background-color: black;
}
.header__container .brand__container {
  width: 150px;
  height: 45px;
  margin-left: 50px;
  border-radius: 30px;
  background-color: rgb(230, 230, 230);
}
.header__container .nav__container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: auto;
}
.header__container .nav__container .night__section {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid grey;
  box-shadow: 1px 2px 3px rgb(160, 159, 159);
}
.header__container .nav__container .night__section.active {
  border: 2px solid white;
  background-color: black;
  color: white;
  box-shadow: none;
}
.header__container .nav__container .profile__section {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-right: 35px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid grey;
  box-shadow: 1px 2px 3px rgb(160, 159, 159);
}
.header__container .nav__container .profile__section.active {
  background-color: black;
  box-shadow: none;
  color: white;
  border: 2px solid white;
}
.header__container .nav__container .fa-solid, .header__container .nav__container .fa-regular {
  font-size: 23px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

body {
  height: 100%;
  position: fixed;
}

.main__container {
  width: 100%;
  height: 80%;
}
.main__container .division__container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(182, 182, 182);
  background: linear-gradient(0deg, rgb(182, 182, 182) 9%, rgb(255, 255, 255) 93%);
}
.main__container .division__container.active {
  background: rgb(93, 93, 93);
  background: linear-gradient(0deg, rgb(93, 93, 93) 0%, rgb(0, 0, 0) 96%);
}
.main__container .division__container__number1 {
  width: 55%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__container .division__container__number1 .golden__habit__division {
  width: 80%;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
}
.main__container .division__container__number1 .golden__habit {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: rgb(133, 133, 133);
}
.main__container .division__container__number1 .graphic__container {
  width: 80%;
  height: 400px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid grey;
  box-shadow: 2px 3px 5px rgb(160, 159, 159);
  transition: background-color 0.5s;
}
.main__container .division__container__number1 .graphic__container.active {
  background: rgb(115, 115, 115);
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  box-shadow: none;
}
.main__container .division__container__number1 .graphic__container__button__division {
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main__container .division__container__number1 .graphic__container__plus {
  width: 120px;
  height: 40px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid grey;
  box-shadow: 0px 3px 1px rgb(160, 159, 159);
}
.main__container .division__container__number1 .graphic__container__plus.active {
  background-color: black;
  box-shadow: none;
  color: white;
}

#division__container__id.active {
  background-color: rgb(0, 0, 0);
}

.nuevo__habito {
  width: 50px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 805px) {
  body {
    position: absolute;
    overflow-y: auto;
    overflow: hidden;
  }
  .main__container {
    height: -moz-min-content;
    height: min-content;
  }
  .main__container .division__container {
    flex-direction: column;
  }
  .main__container .division__container__number1 {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px;
    grid-template-rows: 20px 1fr 50px;
  }
  .main__container .division__container__number1 .box2 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
  }
  .main__container .division__container__number1 .box1 {
    grid-column-start: 4;
    grid-row-start: 3;
  }
  .main__container .division__container__number1 .box3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
  }
  .main__container .division__container__number1 .golden__habit__division {
    width: 100%;
    height: 50px;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .main__container .division__container__number1 .golden__habit {
    width: 80%;
    height: 35px;
    margin-bottom: 0px;
  }
  .main__container .division__container__number1 .graphic__container {
    width: 100%;
    height: 100%;
  }
  .main__container .division__container__number1 .graphic__container__button__division {
    width: 80%;
  }
  .main__container .division__container__number1 .graphic__container__plus {
    width: 100%;
  }
}
.cubierta__container {
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal__container {
  width: 300px;
  height: 300px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  z-index: 110;
}
.modal__container .modal__options {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.modal__container .modal__options .close {
  font-size: 15px;
  cursor: pointer;
}
.modal__container .modal__options .guardar__habito {
  width: 80px;
  height: 30px;
  font-size: 15px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.modal__container .modal__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px 10px;
}
.modal__container .modal__content .modal__content__union {
  margin-top: 10px;
  margin-left: 5px;
}
.modal__container .modal__content .habit__form__num1, .modal__container .modal__content .habit__form__num2 {
  width: 90px;
  height: 150px;
  border-radius: 10p;
  color: black;
  background-color: rgb(184, 184, 184);
  cursor: pointer;
}
.modal__container .habitForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 2px 3px 5px rgb(160, 159, 159);
}
.modal__container .habitForm.active {
  background-color: black;
  color: white;
  box-shadow: none;
}
.modal__container .habitForm .habitName__label {
  align-self: flex-start;
  font-size: 17px;
}
.modal__container .habitForm .habitName {
  width: 100%;
  height: 35px;
  margin-top: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-right: auto;
  border: none;
  padding-left: 10px;
  border: 1.5px solid rgb(153, 153, 153);
}
.modal__container .habitForm .separacion__Colores {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 10px;
}
.modal__container .habitForm .separacion__Colores .habitColor__label {
  font-size: 19px;
  margin-left: 5px;
}
.modal__container .habitForm .separacion__Colores .color__opcion {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  border: 2px solid rgb(255, 255, 255);
}
.modal__container .habitForm .separacion__Colores .color__opcion.seleccionado {
  border: 3px solid black;
}

.perfil__emergente {
  width: 220px;
  height: 80%;
  position: absolute;
  right: 0;
  top: 80;
  display: none;
  margin-top: 20px;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(167, 167, 167);
  border-radius: 15px;
  z-index: 101;
}
.perfil__emergente.visible {
  display: block;
}
.perfil__emergente.hidden {
  display: none;
}
.perfil__emergente.active {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.perfil__emergente__opciones {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-radius: 20px;
}
.perfil__emergente__opciones.active {
  border: 1px solid rgb(102, 102, 102);
  background: radial-gradient(circle, rgb(14, 14, 14) 0%, rgb(29, 29, 29) 100%);
}

.perfil__emergente__cuenta {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}
.perfil__emergente__cuenta:hover {
  background-color: rgba(204, 204, 204, 0.822);
}
.perfil__emergente__cuenta.active {
  background-color: black;
  border: 1px solid white;
  color: white;
}
.perfil__emergente__cuenta.active:hover {
  background-color: rgba(113, 113, 113, 0.727);
}

.icon__perfil {
  font-size: 25px;
}

.perfil__emergente__opcion {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(180, 180, 180);
}
.perfil__emergente__opcion:hover {
  background-color: rgba(204, 204, 204, 0.822);
}
.perfil__emergente__opcion.active {
  background-color: black;
  border: 1px solid white;
  color: white;
}
.perfil__emergente__opcion.active:hover {
  background-color: rgba(163, 163, 163, 0.727);
}

.division__container__number2 {
  width: 45%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.division__container__number2 .habits__container {
  width: 90%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1.5px solid grey;
  box-shadow: 2px 3px 5px rgb(160, 159, 159);
}
.division__container__number2 .habits__container.active {
  background-color: black;
  box-shadow: none;
}
.division__container__number2 .habits__container .ventana__nueva {
  width: 80%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 0.5px solid grey;
  border-radius: 5px;
  padding: 5px 5px;
  cursor: pointer;
}
.division__container__number2 .habits__container .ventana__nueva.active {
  background-color: black;
  color: white;
}
.division__container__number2 .habits__container .ventana__nueva__texto {
  margin-left: 15px;
}

.habits__container__list {
  width: 99%;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nuevo__habitoAgregado {
  width: 95%;
  height: 47px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 13px;
  list-style: none;
  border: 3px solid black;
}

.buttonCompletar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 805px) {
  .division__container__number2 {
    width: 100%;
    height: 50%;
    gap: 0;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px;
    grid-template-rows: 20px 1fr 1fr 20px;
  }
  .division__container__number2 .habits__container {
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .habits__container__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 5px;
  }
  .nuevo__habitoAgregado {
    width: 130px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .nuevo__habitoAgregado {
    width: 110px;
  }
}
@media (max-width: 450px) {
  .nuevo__habitoAgregado {
    width: 90px;
    height: 100px;
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  .nuevo__habitoAgregado {
    width: 85px;
    font-size: 10px;
  }
}
.ventana__configuracion {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  position: absolute;
  border-radius: 20px;
  margin-top: 15px;
  border: 1px solid rgb(197, 197, 197);
}
.ventana__configuracion .ventana__configuracion__izquierda {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-color: rgb(218, 218, 218);
  border: 1px solid rgb(167, 167, 167);
}
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 17px;
  margin-top: 10px;
  border-radius: 16px;
}
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion__apariencia,
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion__habitos,
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion__contactar {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion__apariencia .icon__configuracion,
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion__habitos .icon__configuracion,
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion__contactar .icon__configuracion {
  font-size: 20px;
  color: rgba(58, 54, 54, 0.973);
}
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion__apariencia .opciones__configuracion__texto,
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion__habitos .opciones__configuracion__texto,
.ventana__configuracion .ventana__configuracion__izquierda .opciones__configuracion__contactar .opciones__configuracion__texto {
  font-size: 16px;
  font-weight: 300;
  color: rgb(61, 61, 61);
}
.ventana__configuracion .ventana__configuracion__derecha__Apariencia {
  width: 67%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-start;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border: 1px solid rgb(167, 167, 167);
}
.ventana__configuracion .ventana__configuracion__derecha__Apariencia .ventana__apariencia {
  width: 96%;
  height: 20%;
  padding: 20px 10px;
  border-radius: 8px;
}
.ventana__configuracion .ventana__configuracion__derecha__Apariencia .ventana__apariencia .ventana__apariencia__separacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.ventana__configuracion .ventana__configuracion__derecha__Apariencia .ventana__apariencia .ventana__apariencia__titulo {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.ventana__configuracion .ventana__configuracion__derecha__Apariencia .ventana__apariencia .ventana__apariencia__titulo2 {
  font-size: 18px;
  font-weight: 300;
}
.ventana__configuracion .ventana__configuracion__derecha__Apariencia .ventana__apariencia .ventana__apariencia__texto {
  font-size: 12px;
  font-weight: 200;
  color: rgb(26, 26, 26);
}
.ventana__configuracion .ventana__configuracion__derecha__Habitos {
  width: 67%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border: 1px solid rgb(167, 167, 167);
}
.ventana__configuracion .ventana__configuracion__derecha__Habitos .ventana__habitos {
  width: 96%;
  height: 50%;
  padding: 20px 10px;
}
.ventana__configuracion .ventana__configuracion__derecha__Habitos .ventana__habitos__titulo {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.ventana__configuracion .ventana__configuracion__derecha__Contacto {
  width: 67%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: flex-start;
}
.ventana__configuracion .ventana__configuracion__derecha__Contacto .ventana__contacto {
  width: 96%;
  height: 200px;
  padding: 20px 10px;
}
.ventana__configuracion .ventana__configuracion__derecha__Contacto .ventana__contacto .ventana__contacto__titulo {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}
.ventana__configuracion .ventana__configuracion__derecha__Contacto .ventana__contacto .ventana__contacto__texto {
  margin-top: 15px;
  font-size: 18px;
}/*# sourceMappingURL=styles.css.map */